.background_pane {
	-fx-background-image: url("../icons/GREEN_FELT.jpg");
	-fx-background-position: center;
	-fx-background-size: stretch;
}

.money_pane {
	-fx-background-color: brown;
	-fx-border-color: black;
	-fx-text-fill: white;
	-fx-font-size: 1.7em;
	-fx-padding: 0 1em 0 1em;
	-fx-background-radius: 1em;
	-fx-border-radius: 1em;
}

.bet_pane {
	-fx-text-fill: white;
	-fx-font-size: 1.7em;
}

.font_pane {
	-fx-text-fill: white;
	-fx-font-size: 1.7em;
}

.next_chip_button {
	-fx-background-color: transparent;
}

.next_chip_button > Region {
	-fx-shape: "M96.633,125.369l95.053-94.533c7.101-7.055,7.101-18.492,0-25.546
		c-7.1-7.054-18.613-7.054-25.714,0L58.989,111.689c-3.784,3.759-5.487,8.759-5.238,13.68c-0.249,4.922,1.454,9.921,5.238,13.681
		l106.983,106.398c7.101,7.055,18.613,7.055,25.714,0c7.101-7.054,7.101-18.491,0-25.544L96.633,125.369z";
	-fx-background-color: lightgray;
	-fx-pref-height: 27;
	-fx-max-width: 18;
	-fx-max-height: 27;
}

.button2x_Split {
	-fx-padding: 0;
	-fx-background-color: transparent;
}

.menu_button {
	-fx-background-color: black;
	-fx-background-radius: 6, 5;   
	-fx-background-insets: 0, 1;  
	-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );    
	-fx-text-fill: white;   
}  

.menu_button:hover {
	-fx-background-color: #5c5c5c;
}    

.menu_button LabeledText {
	-fx-font-size: 1.4em;
}

.label_won {
	-fx-text-fill: linear-gradient(cyan , dodgerblue);
}

.label_lost {
	-fx-text-fill: linear-gradient(red, orangered);
}

.label_tie {
	-fx-text-fill: linear-gradient(lightgreen, green);
}

.label_gover {
	-fx-text-fill: linear-gradient(lightgray, white);
}

.label_bjack {
	-fx-text-fill: white;
}